.minigame_container {
  width: 40vh;
  height: 50vh;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: var(--background_panel);
  border: var(--border_accent);
  border-radius: var(--border_radius_outer);
  box-shadow: var(--shadow_large);
  overflow: hidden;
  font-family: 'VT323', monospace;
  color: var(--text_primary);
  display: flex;
  flex-direction: column;
  user-select: none;
}

.minigame_header {
  width: 100%;
  padding: 1vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--background_overlay);
  font-size: 1.2rem;
  border-bottom: var(--border_dashed);
}

.minigame_title {
  font-size: 1.2rem;
  color: var(--text_primary);
}

.minigame_timer {
  font-size: 1.3rem;
  color: var(--text_primary);
  margin-left: 0.5vh;
}

.minigame_content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
