@import './common.css';

.hangman_loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.hangman_loading_icons span {
  margin: 12px;
  font-size: 4rem;
  opacity: 0.5;
  transition: color 0.3s, opacity 0.3s;
  color: var(--text_secondary);
}

.hangman_loading_icons span.line_complete i {
  opacity: 1;
  color: var(--text_primary);
}

.hangman_loading_text {
  margin-top: 20px;
  font-size: 1.5rem;
  color: var(--text_secondary);
  font-family: 'VT323', monospace;
}

.hangman_window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.hangman_window_toolbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1vh;
  background: var(--background_overlay);
  border-bottom: var(--border_dashed);
}

.hangman_window_body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hangman_word_display {
  font-size: 1.5rem;
  margin-top: 2vh;
  margin-bottom: 1vh;
  letter-spacing: 5px;
}

.keyboard_row {
  display: flex;
}

.keyboard_key {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text_primary);
  border-radius: var(--border_radius_inner);
  background: radial-gradient(circle, var(--background_main) 40%, var(--background_panel) 100%);
  height: 2.75vh;
  width: 2.75vh;
  padding: 0.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border_accent);
  box-shadow: var(--shadow_medium);
  font-family: var(--text_font);
  margin: 0.5vh;
}

.keyboard_key:hover:not(:disabled) {
  background: rgba(255,255,255,0.2);
}

.keyboard_key:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.hangman_result_screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4rem;
}

.hangman_state_display {
  width: 90%;
  font-family: monospace;
  font-size: 1.75rem;
  line-height: 2rem;
  white-space: pre;
  color: var(--text_secondary);
  background: var(--background_overlay);
  padding: 1vh;
  border-radius: var(--border_radius_inner);
  border: var(--border_dashed);
  text-align: center;
}
