@import './common.css';

.kd_container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1vh;
  padding-top: 0.75vh;
  height: 80vh;
  width: 50vw;
}

.key_drop_game {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}

.kd_letter {
  position: absolute;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text_primary);
  border-radius: var(--border_radius_outer);
  background: radial-gradient(circle, var(--background_main) 40%, var(--background_panel) 100%);
  height: 5vh;
  width: 2.75vw;
  padding: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border_accent);
  box-shadow: var(--shadow_medium);
  font-family: var(--text_font);
}

.kd_hit {
  color: var(--accent);
  border-color: var(--accent);
}

.kd_miss {
  color: var(--accent3);
  border-color: var(--accent3);
}
