@import './common.css';

.skill_circle_container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 100px auto;
  background-color: transparent;
}

.skill_circle_icon {
  z-index: 10;
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 20px;
  transform: translate(-50%, -50%);
  color: var(--accent);
  pointer-events: none;
}

.skill_circle_icon i {
  pointer-events: none;
}

.current_key_display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: bold;
  font-family: var(--text_font);
  pointer-events: none;
  z-index: 10;
  color: var(--accent);
  border-radius: var(--border_radius_outer);
  background: radial-gradient(circle, var(--background_main) 40%, var(--background_panel) 100%);
  height: 5vh;
  width: 2.75vw;
  padding: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border_accent);
  box-shadow: var(--shadow_soft);
}

canvas#skill_circle_canvas {
  background-color: transparent;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
