@import './common.css';

.wire_cut_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--border_accent);
  border-radius: var(--border_radius_outer);
  box-shadow: var(--shadow_large);
  background-image: url('/ui/assets/images/circuit.png');
  background-size: cover;
  background-position: center;
  background-color: var(--background_panel);
  user-select: none;
}

.wire_cut_timer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 100%;
  border-top: var(--border_accent);
  font-family: 'Digital', sans-serif;
  font-size: 5rem;
  color: var(--accent);
  background-image: url('/ui/assets/images/screen.png');
  background-size: cover;
  background-position: center;
  background-color: var(--background_main);
  user-select: none;
}

#wire_cut_canvas {
  display: block;
}
